.side-navigation {
	background-color: $white;
	margin: 40px;
	width: 200px;
	letter-spacing: 0.08em;
	.link:hover {
		color: lighten($dark-blue, 20%);
	}
	h5 {
		margin-left: 25px;
	}
	.disclaimer {
		color: $light-gray;
	}
}

.logo {
	height: 60px;
	margin-top: 20px;
}

.logo-text {
	color: $electric-blue;
	margin-bottom: 40px;
}

.nav-category-wrapper {

}